<!DOCTYPE html>
<html>

<head>
    <title>Adding a book</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>

<body>
    <h1>Adding a book</h1>
    <form method="POST">
        <label>Book title</label><br>
        <input name="name" class="field" /><br><br>
        <label>Length</label><br>
        <input name="age" type="number" class="field" min="1" max="110" /><br><br>
        <input type="submit" value="Save" />
    </form>
    <br>
    <a href="/">To the list of books</a>
</body>
<html>