<div>
    <h1>Adding a localize title</h1>
    <form method="POST">
        <label>Localized book title</label><br>
        <input name="locale_book_name" class="field" /><br><br>
        <label>Language</label><br>
        <select name="l_language_id">
            <option value="1">PL</option>
            <option value="2">RU</option>
            <option value="3">BY</option>
        </select>
        <br><br>

        <label>Book</label><br>
        <select name="l_book_id">
            {{#each bookList}}
            <option value={{book_id}}>{{book_name}}</option>
            {{/each}}
        </select>
        <br><br>
        <input type="submit" value="Save" />
    </form>
    <br><br>
    <a href="/">To the list of books</a>
</div>