<div>
    <h1>Editing a book</h1>
    <form action="/edit" method="POST">
        <input type="hidden" name="book_id" value="{{book_id}}" />
        <label>Book title</label><br>
        <input name="book_name" value="{{book_name}}" class="field" /><br><br>
        <label>Length</label><br>
        <input name="book_length" type="number" min="1" max="5000" value="{{book_length}}" class="field" /><br><br>
        <input type="submit" value="Save" />
    </form>
    <br>
    <a href="/bookList">To the list of books</a>
</div>