<!DOCTYPE html>
<html>

<head>
    <title>Editing a localized book title</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>

<body>
    <h1>Editing a localized book title</h1>
    <form action="/editLocalizedTitle" method="POST">
        <input type="hidden" name="l_book_id" value="{{l_book_id}}" />
        <label>Book title</label><br>
        <input name="book_name" value="{{book_name}}" class="field" /><br><br>
        <label>Length</label><br>
        <input name="book_lenght" type="number" min="1" max="5000" value="{{book_lenght}}" class="field" /><br><br>
        <input type="submit" value="Save" />
    </form>
    <br>
    <a href="/">To the list of books</a>
</body>
<html>