<!DOCTYPE html>
<html>
   <head>
      <title>Todo App</title>
      <link rel="stylesheet" type="text/css" href="/Intexsoft_Internship_task_2/public/styles/index.css">
   </head>
   <body>
      {{{body}}}
   </body>
</html>